@import "partials/variables";
@import "partials/mixins";

nav {
	border-bottom: 1px solid $black;

	span#logo {
		float: left;

		img {
			width: 200px;
			margin: 10px 0;
		}
	}

	span#contents {
		float: right;
		display: block;

		ul{
			@include oswald-medium;
			font-size: 20px;
			color: $black;

			li{
				display: inline-block;
				margin: 25px 0 0 50px;
			}
		}
	}

}

img.site-images {
	width: 100%;
	height: auto;
}

/* IT'S 2017, YOU'RE DAMN RIGHT IT'S MOBILE-ISH FRIENDLY */

@media screen and (max-width: $mobile) {


}