/* MIXINS */

@mixin linear-gradient {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.95) 100%), url(../images/360Civil-heroimage@2x.jpg) no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.95))), url(../images/360Civil-heroimage@2x.jpg) no-repeat;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.95) 100%), url(../images/360Civil-heroimage@2x.jpg) no-repeat;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.95) 100%), url(../images/360Civil-heroimage@2x.jpg) no-repeat;
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.95) 100%), url(../images/360Civil-heroimage@2x.jpg) no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.95) 100%), url(../images/360Civil-heroimage@2x.jpg) no-repeat;
}

@mixin button-hover {
    background: $dark-red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($dark-red, $red); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($dark-red, $red); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($dark-red, $red); /* For Firefox 3.6 to 15 */
    background: linear-gradient($dark-red, $red); /* Standard syntax */
}

@mixin background-size($property) {
  -webkit-background-size: ($property);
  -moz-background-size: ($property);
  -o-background-size: ($property);
  background-size: ($property);
}

@mixin oswald-light {
  font-family: $main;
  font-weight: 300;
}

@mixin oswald-medium {
  font-family: $main;
  font-weight: 500;
}

@mixin oswald-bold {
  font-family: $main;
  font-weight: 700;
  color: $white;
}

@mixin opensans-reg {
  font-family: $copy;
  font-weight: 400;
}

@mixin opensans-bold {
  font-family: $copy;
  font-weight: 700;
}