/* SCREEN SIZE BREAK POINTS */

$mobile: 768px;

/* COLORS */

$white: #fff;
$black: #1e1e1e;
$grey: #adacac;
$light-grey: #fafafa;
$red: #b72121;

/* FONTS */

$main: 'Oswald', sans-serif;
$copy: 'Open Sans', sans-serif;